.doctor_detail {
  border: 2px solid lightblue;
  box-shadow: lightblue 0px 0px 1px 1px;
  padding: 2rem;
  display: block;
  margin: 3% auto 3% auto;
  max-width: 80%;
  line-height: 2rem;
}

.doctor_detail h3 {
  padding-top: 1rem;
}

.doctor_profile > img {
  display: block;
  margin: 3% auto 3% auto;
  border-radius: 100%;
}

.doctors_summary {
  max-width: 500px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  transition: all .1s ease;
  box-shadow: lightgray 1px 1px 3px 1px;
}

.doctors_summary:hover {
  transform: scale(1.03, 1.03);
  transition: all .1s ease;
}

.doctors_summary > li {
  list-style: none;
}

.doctors_summary > img {
  border-radius: 100%;
  margin-left: 1rem;
  height: 100px;
  width: auto;
}

.doctors_summary_name {
  text-align: center;
  text-decoration: none;
  color: black;
  top: 0.5rem;
  font-size: 1.3rem;
}

.google_map {
  height: 200px;
  width: 350px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.home_link {
  margin-top: 4%;
}

.profile > img {
  border-radius: 100%;
}

.profile__detail > p {
  line-height: 2.0rem;
  padding: 1rem;
  margin-bottom: 4%;
}

.search_bar {
  margin-bottom: 5rem;
}

.short_line_break {
  border-top: 1px solid lightgray;
  width: 30%;
  margin: 0 auto 0 auto;
}

.status_message {
  position: absolute;
  top: 10px;
  left: 10px;

}

.title {
  font-size: 5rem;
  margin-top: 8%;
  margin-bottom: 5rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1rem;
}

.text-center {
  text-align: center;
}

.text-help {
  margin-top: 0.3rem;
  text-align: center;
}


/*MEDIA QUERY*/
@media screen and (max-width: 500px) {

  .title {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 2rem;
    letter-spacing: 0rem;
  }

  .doctors_summary > img {
    margin-left: 0;
    height: 80px;
    width: auto;
  }

  .doctors_summary_name {
    top: 0rem;
    font-size: 1rem;
  }

  .doctor_profile__bio {
    max-width: 90%;
  }


  .search_bar {
    margin-bottom: 5rem;
  }

  .search_bar_button {
    margin-top: 0.3rem;
    text-align: center;
  }

  .search_bar_button > button {
    width: 50%;
  }

}
