/** APP.js **/

.title {
  font-size: 5rem;
  margin-top: 8%;
  margin-bottom: 5rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1rem;
}

.doctors_summary {
  max-width: 500px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  transition: all .1s ease;
  box-shadow: lightgray 1px 1px 3px 1px;
}

.doctors_summary > li {
  list-style: none;
}

.doctors_summary > img {
  border-radius: 100%;
  margin-left: 1rem;
  height: 100px;
  width: auto;
}

.doctors_summary_name {
  text-align: center;
  text-decoration: none;
  color: black;
  top: 0.5rem;
  font-size: 1.3rem;
}


.doctors_summary:hover {
  transform: scale(1.03, 1.03);
  transition: all .1s ease;
}

.profile > img {
  border-radius: 100%;
}

.profile__detail {
  height: 10rem;
  overflow: auto;
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: 1px 1px lightgray;
}

.profile__detail > p {
  line-height: 2.0rem;
  padding: 1rem;
}

.search_bar {
  margin-bottom: 5rem;
}

.short_line_break {
  border-top: 1px solid lightgray;
  width: 30%;
  margin: 0 auto 0 auto;
}

.text-help {
  margin-top: 0.3rem;
  text-align: center;
}





/*MEDIA QUERY*/
@media screen and (max-width: 500px) {

  .title {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 2rem;
    letter-spacing: 0rem;
  }

  .doctors_summary > img {
    margin-left: 0;
    height: 80px;
    width: auto;
  }

  .doctors_summary_name {
    top: 0rem;
    font-size: 1rem;
  }

  .search_bar {
    margin-bottom: 5rem;
  }

  .search_bar_button {
    margin-top: 0.3rem;
    text-align: center;
  }

  .search_bar_button > button {
    width: 50%;
  }


}
